._wordCard {
  width: 280px;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
}

._wordImage {
  height: 200px;
}

._word {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

._audio {
  width: 250px;
  height: 30px;
}